import { createReducer } from 'redux-yo';
import { {{ camelCase name }}Actions } from './actions';

const initialState = {};

export const {{ camelCase name}}Reducer = createReducer(
  {

  },
  initialState
);
